*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.btn1{
  position: absolute;
  z-index: 1;
  color: white;
  border-radius: 15px;
  border: 0px;
  transition: 0.1s;
  right: 40%;
  top: 84%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
  height: 10dvh;
  width: 5dvw;
  cursor: pointer;
}
.btn2{
  position: absolute;
  z-index: 1;
  height: 10dvh;
  width: 5dvw;
  color: white;
  border-radius: 15px;
  border: 0px;
  transition: 0.1s;
  left: 40%;
  top: 84%;
  transform: translate(-50%, -50%);
  transform: rotate(180deg);
  cursor: pointer;
}

.btn:hover{
  transform: scale(1.1);
  transition: 0.1s;
}
.title{
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 72%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3dvw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title2{
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5dvw;
  width: 30%;
  text-align: center;
}
.closebtn{
  top:10%;
  position:absolute;
  height:4dvh;
  width:2dvw;
  right:10%;
  border:0px;
  background-color:black;
  color:white;
  border-radius:50%;
  cursor:pointer;
}
.current{
  position:absolute;
  z-index:1;
  font-size:50px;
  left: 50%;
  top: 90%;
  color: white;
  transform: translate(-50%, -50%);
}
.heading{
  position: absolute;
  z-index: 1;
  width: 100dvw;
  text-align: center;
  top: 2vh;
  color: white;
  font-size: 3dvw;
}
.subheading{
  color: white;
  position: absolute;
  z-index: 1;
  width: 100dvw;
  text-align: center;
  top: 10vh;
  font-size: 1.6dvw;
}
.container {
  position: absolute;
  z-index: 1;
  width: 100px; /* adjust as needed */
  height: 100px; /* adjust as needed */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  overflow: hidden;
}

.container:hover .outline-circle{
  height: 60px;
  width: 60px;
  transition: 0.2s;
}
.container:hover .outline-circle:nth-child(1){
  height: 80px;
  width: 80px;
  transition: 0.2s;
}
.container:hover .outline-circle:nth-child(2){
  height: 100px;
  width: 100px;
  transition: 0.2s;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white; /* or any color you want */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outline-circle {
  transition: 0.2s;
  
  width: 50px; /* adjust as needed */
  height: 50px; /* adjust as needed */
  border-radius: 50%;
  border: 1px solid white; /* or any color you want */
  position: absolute;
  top: 50%; /* adjust distance from dot */
  left: 50%; /* adjust distance from dot */
  transform: translate(-50%, -50%);
}

.outline-circle:nth-child(1) {
  width: 70px; /* adjust as needed */
  height: 70px; /* adjust as needed */
  border-width: 2px;
  transition: 0.2s;
}

.outline-circle:nth-child(2) {
  width: 90px; /* adjust as needed */
  height: 90px; /* adjust as needed */
  border-width: 3px;
  transition: 0.2s;
}
.enterbtn{
  position: absolute;
  z-index: 1;
  bottom: 15dvh;
  height: 5dvh;
  width: 15dvw;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-size: 1.5dvw;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;


}
.enterbtn:hover{
  transform: scale(1.1);
  transition: 0.2s;
}
.whiteline1{
  width: 37%;
  height: 5%;
  left: 8%;
  background-color: white;
  position: absolute;
}
.whiteline2{
  width: 40%;
  height: 5%;
  left: 52%;
  background-color: white;
  position: absolute;
}
.blackline1{
  width: 0%;
  height: 5%;
  left: 8%;
  background-color: black;
  position: absolute;
}
.blackline2{
  width: 0%;
  height: 5%;
  left: 52%;
  background-color: black;
  position: absolute;
}
.slider{
  position: absolute;
  z-index: 122;
  top: 80dvh;
  height: 10dvh;
  width: 30dvw;
  display: flex;
  align-items: center;
}
.sliderbtn3{
  left: 93%;
  position: absolute;
}
.sliderbtn2{
  left: 45%;
  position: absolute;
}
.sliderbtn1,.sliderbtn2,.sliderbtn3{
  font-size: 20px;
  width: 2dvw;
  height: 4dvh;
  border-radius: 50%;
  border: 0px;
  z-index: 2;
  cursor: pointer;
  transition: 0.2s;
  background-color: transparent;
  border: 5px solid white;
}
.sliderimg{
  position: absolute;
  height: 2.8dvw;
  width: 4dvh;
}
.lines{
  position: absolute;
  z-index: 2;
}
.sliderbtn:hover{
  transform: scale(1.2);
  transition: 0.2s;

}
.blackline{
  height: 5%;
  background-color: black;
  position: absolute;
}
.bottlescreen{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80dvh;
  width: 0dvw;
  position: absolute;
  z-index: 1;
  right: 1dvw;
  border-top-left-radius: 37.5dvw;
  border-bottom-left-radius: 37.5dvw;
  
}
.bottlescreen p1{
  position: absolute;
  left: 20%;
  top: 50%;
  text-align: center;
  font-size: 3dvh;
  
}
.bottlescreen h1{
  position: absolute;
  left: 20%;
  top: 25%;
  font-size: 5dvh;
}
.stats{
  height: 15%;
  width: 70%;
  position: absolute;
  left: 20%;
  top: 70%;
  display: flex;
  flex-direction: column;
}
.innertop{
  height: 50%;
  width: 100%;
  display: flex;
}
.innerbottom{
  height: 50%;
  width: 100%;
  display: flex;
}
.innertopbox{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerbottombox{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statsboxes p2{
  text-align: center;
}
.statsboxes h2{
  text-align: center;
}

.lyricscreen{
  border-radius: 20px;
  height: 0dvh;
  width: 0dvw;
  left: 5%;
  top: 20%;
  position: absolute;
  z-index: 1;
}
.top{
  height: 20%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  
}
.mid{
  color: white;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('playlistbg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.videoscreen{
  height: 0dvh;
  width: 0dvw;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
.vidbtn{
  height: 5dvh;
  width: 2.5dvw;
  position: absolute;
  z-index: 2;
  top: 19dvh;
  right: 8dvw;
  font-size: 1.5dvw;
  border-radius: 50%;
  cursor: pointer;
  color: gray;
  border: 2px solid gray;
  transition: 0.2s;
}
.vidbtn:hover{
  transform: scale(1.2);
  transition: 0.2s;
}
.returnbtn{
  height: 5dvh;
  width: 15dvw;
  position: absolute;
  z-index: 1;
  top: 92dvh;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.5dvw;
  color: #6d5e5b;
  background-color: transparent;
  cursor: pointer;
  transition: 0.1s;
}
.returnbtn:hover{
  transform: scale(1.1);
  transition: 0.1s;
}
.audiobtn{
  position: absolute;
  z-index: 1;
  height: 5dvh;
  width: 2.5dvw;
  top: 90%;
  left: 5%;
  border: 2px solid white;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.line1,.line2,.line3{
  height: 0%;
  width: 0.2dvw;
  background-color: white;
  
}
.audiobtn:hover{
  transform: scale(1.2);
  transition: 0.2s;
}
.bottle{
  position: absolute;
  z-index: 1;
  left: 5%;
  height: 0dvh;
  width: 0dvw;
}
.logo{
  position: absolute;
  z-index: 1;
  height: 14dvh;
  width: 7dvw;
  top: 1%;
}

.welcome{
  position: absolute;
  z-index: 1;
  font-size: 3dvh;
  top: 16%;
  color: white;
  font-weight: 100;
}
.spritzer{
  position: absolute;
  z-index: 1;
  font-size: 12.5dvh;
  top: 18%;
  font-style: italic;
  color: white;
  
}
.bottlelogobg{
  height: 80dvh;
  width: 40dvw;
  left: -7%;
  top: -10%;
  opacity: 0.3;
  position: absolute;
  z-index: -1;  
}
.name {
  position: absolute;
  z-index: 1;
  bottom: 22dvh;
  color: white;
  font-size: 5dvh;
}
@media only screen and (max-width: 767px) {
  /* Add your phone-specific styles here */
  .name {
    position: absolute;
    z-index: 1;
    bottom: 22dvh;
    color: white;
    font-size: 3.5dvh;
  }
  .title {
    font-size:3.5dvh;
    width: 100%;
    text-align: center;
  }
  .title2{
    font-size: 2dvh;
    width: 100%;
    text-align: center;
  }
  .btn1{
    left: 65%;
    top: 84.5%;
    height: 10dvh;
    width: 15dvw;
  }
  .btn2{
    left: 20%;
    top: 84.5%;
    height: 10dvh;
    width: 15dvw;
  }
  .heading{
    font-size: 3.5dvh;
  }
  .subheading{
    font-size: 2.5dvh;
  }
  .enterbtn{
    top: 86%;
    width: 40dvw;
    font-size: 2.5dvh;
  }
  .returnbtn{
    width: 40dvw;
    font-size: 2.5dvh;
  }
  .audiobtn{
    width: 12dvw;
    height: 6dvh;
  }
  .logo{
    position: absolute;
    z-index: 1;
    height: 10dvh;
    width: 20dvw;
    top: 5%;
  }
  .welcome{
    position: absolute;
    z-index: 1;
    font-size: 3dvh;
    top: 15%;
    color: white;
    font-weight: 100;
  }
  .spritzer{
    position: absolute;
    z-index: 1;
    font-size: 6dvh;
    top: 18%;
    color: white;
  }
  .slider{
    width: 70dvw;
    top: 80%;
  }
  .sliderimg{
    width: 11dvw;
    height: 6dvh;
  }
  .sliderbtn1,.sliderbtn2,.sliderbtn3{
    height: 4dvh;
    width: 8dvw;
  }
  .sliderbtn3{
    left: 85%;
  }
  .whiteline2{
    width: 30%;
    left: 55%;
 }
 .blackline2{
  width: 30%;
  left: 55%;
}
.whiteline1{
  width: 30%;
  left: 13%;
}
.blackline1{
  width: 30%;
  left: 13%;
}
.bottlescreen{
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 150px;
  transform: translate(-50%, -50%); 
}
.bottlescreen h1{
  font-size: 2.5dvh;
  text-align: center;
  left: 50%;
  top: 25%;
  width: 90%;
  transform: translate(-50%, -50%); 
}
.bottlescreen p1{
  left: 50%;
  top: 50%;
  width: 90%;
  transform: translate(-50%, -50%); 
  font-size: 2.1dvh;
}
.statsmobile{
  width: 90%;
  height: 25%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.innerstatsmobile{
  height: 50%;
  width: 100%;
}
.innerstatsmobile2{
  height: 50%;
  width: 50%;
}
.i2m2{
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.i2mbox2{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.i2mbox2 h2{
  text-align: center;
  font-size: 2.3dvh;
}
.i2mbox2 p2{
  font-size: 1.5dvh;
  text-align: center;
}
.i2m{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.i2mbox{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i2mbox h2{
  text-align: center;
  font-size: 2.3dvh;
}
.i2mbox p2{
  text-align: center;
  font-size: 1.5dvh;
}
.closebtnmobile{
  z-index: 2;
  top:5%;
  position:absolute;
  height:5dvh;
  width:10dvw;
  right:10%;
  border:0px;
  background-color:black;
  color:white;
  border-radius:50%;
  cursor:pointer;
}
.bottlelogobg{
  height: 40dvh;
  width: 80dvw;
  left: -5%;
  top: -5%;
  opacity: 0.3;
  position: absolute;
  z-index: -1;  
}
.vidbtn{
  width: 10dvw;
  font-size: 2.5dvh;
}
.lyricscreen{
  border-radius: 20px;
  height: 0dvh;
  width: 0dvw;
  left: 5%;
  top: 20%;
  position: absolute;
  z-index: 1;
}
.top{
  height: 20%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  
}
.mid{
  color: white;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('playlistbg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

  /* Any other styles you want to adjust for phones */
}